.frame{
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.75) inset;
}

.add-button-wrapper{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.8em;
  margin-left: -6.6em;
  z-index: 5;
  text-align: center;
}

.full .add-button-wrapper{
  display: none;
}

.remove-button{
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 5;
}

.full .remove-button{
  display: block;
}

.zoomer, .help-circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: 3;
  border-radius: 50%;
  border: 2px solid rgba(50,50,50,1);
  pointer-events:none;
  word-wrap: break-word;
  color: transparent;
  text-shadow: 0 0 0 transparent;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
  background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
  display: none;
}

.help{
  display: none;
}

.help-mode .help{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(200,200,200,0.9);
  z-index: 20;
  text-align: center;
  overflow: hidden;
  display: block;
}

.help-title{
  left: 0;
  width: 100%;
  position: absolute;
  color: rgba(255,255,255,1);
}

.help-title{
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  top:-60px;
}

.help-face{
  top: 50%;
  left: 50%;
  width: 320px;
  height: 240px;
  margin-left: -160px;
  margin-top: -120px;
  position: absolute;
  background-image: url('../images/face.jpeg');
  z-index: 20;
  overflow: hidden;
}

.ready-to-animate .help-face{
  -webkit-animation: face 3s infinite ease-in-out;
  -moz-animation:    face 3s infinite ease-in-out;
  animation:         face 3s infinite ease-in-out;
}

@-webkit-keyframes face {
  0% {
    background-image: url('../images/face.jpeg');
  }

  20% {
    background-image: url('../images/face.jpeg');
  }

  50% {
    background-image: url('../images/face.jpeg');
  }

  70% {
    background-image: url('../images/face_eye.jpeg');
  }

  100% {
    background-image: url('../images/face_eye.jpeg');
  }
}


@-moz-keyframes face {
  0% {
    background-image: url('../images/face.jpeg');
  }

  20% {
    background-image: url('../images/face.jpeg');
  }

  50% {
    background-image: url('../images/face.jpeg');
  }

  70% {
    background-image: url('../images/face_eye.jpeg');
  }

  100% {
    background-image: url('../images/face_eye.jpeg');
  }
}



.help-finger{
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url('../images/finger.svg');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 20;
  border-radius: 4px;
}

.ready-to-animate .help-finger{
  -webkit-animation: finger 3s infinite ease-in-out;
  -moz-animation:    finger 3s infinite ease-in-out;
  animation:         finger 3s infinite ease-in-out;
}

@-webkit-keyframes finger {
  0% {
    -webkit-transform: translate(42px,68px);
    -moz-transform:    translate(42px,68px);
    transform:         translate(42px,68px);
  }

  20% {
    -webkit-transform: translate(42px,68px);
    -moz-transform:    translate(42px,68px);
    transform:         translate(42px,68px);
  }


  50% {
    -webkit-transform: translate(140px,140px);
    -moz-transform:    translate(140px,140px);
    transform:         translate(140px,140px);
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@-moz-keyframes finger {
  0% {
    -webkit-transform: translate(42px,68px);
    -moz-transform:    translate(42px,68px);
    transform:         translate(42px,68px);
  }

  20% {
    -webkit-transform: translate(42px,68px);
    -moz-transform:    translate(42px,68px);
    transform:         translate(42px,68px);
  }


  50% {
    -webkit-transform: translate(140px,140px);
    -moz-transform:    translate(140px,140px);
    transform:         translate(140px,140px);
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}



.help-circle{
  top: 70px;
  left: 76px;
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
}

.ready-to-animate .help-circle{
  -webkit-animation: circ 3s infinite ease-in-out;
  -moz-animation:    circ 3s infinite ease-in-out;
  animation:         circ 3s infinite ease-in-out;
}


@-webkit-keyframes circ {
  0% {
    width:  0px;
    height: 0px;
    -webkit-transform: translate(0px,0px);
    -moz-transform:    translate(0px,0px);
    transform:         translate(0px,0px);
  }

  20% {
    width:  0px;
    height: 0px;
    -webkit-transform: translate(0px,0px);
    -moz-transform:    translate(0px,0px);
    transform:         translate(0px,0px);
  }

  50% {
    width:  260px;
    height: 260px;
    -webkit-transform: translate(-130px,-130px);
    -moz-transform:    translate(-130px,-130px);
    transform:         translate(-130px,-130px);
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}


@-moz-keyframes circ {
  0% {
    width:  0px;
    height: 0px;
    -webkit-transform: translate(0px,0px);
    -moz-transform:    translate(0px,0px);
    transform:         translate(0px,0px);
  }

  20% {
    width:  0px;
    height: 0px;
    -webkit-transform: translate(0px,0px);
    -moz-transform:    translate(0px,0px);
    transform:         translate(0px,0px);
  }

  50% {
    width:  260px;
    height: 260px;
    -webkit-transform: translate(-130px,-130px);
    -moz-transform:    translate(-130px,-130px);
    transform:         translate(-130px,-130px);
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}


.h{
  display: none;
}

.help-mode .h{
  position: absolute;
  font-size: 18px;
  text-shadow: 0 0 0 transparent;
  padding: 10px;
  display: block;
  vertical-align: middle;
}

.h .hm{
  font-family: "BoycottRegular";
  background: rgba(7, 134, 158, 0.7);
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.6);
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  line-height:30px; 
  color: white;
  position: relative;
}

.h1{
  right: 140px;
  text-align: right;
  line-height: 20px;
  top:-5px;
  text-align: left;
}

.h1 .hm{
  top: 16px;
  left: -32px;
  position: absolute;
}

.h2{
  top: 0px;
  right: 0px;
  width: 40%;
  height: 100%;
  background: rgba(255,255,255,0.85);
}


.h2 .hm{
  margin-top: 0px;
}

.gotit{
  position: absolute;
  right:0;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  bottom: 0px;
  background: rgba(7, 134, 158, 0.7);
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.6);
  cursor: pointer;
  z-index: 22;
  text-align: center;
  color:white;
  font-family: "BoycottRegular";
  border-top-left-radius: 16px;
}

.gotit:hover{
  background: rgba(7, 134, 158, 0.87);
}

.gotit:active{
  background: rgba(7, 134, 158, 0.87);
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.6) inset;
  text-shadow: 0 -1px 3px rgba(0,0,0,0.7);
}


.sw{
  position: absolute;
  z-index: 22;
  top: 0;
  right:0;
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,1);
  box-shadow:  0 3px 2px 0px rgba(0,0,0,0.1);
  transition:         250ms ease-in-out;
  -moz-transition:    250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
}

.sw .refresh,
.sw .helpme{
  display: none;
  cursor: pointer;
  color: rgba(50,50,50,1);
}

.sw .refresh:hover,
.sw .help:hover{
  color:black
}

.ready-to-post .sw .refresh,
.main-mode .sw .helpme{
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 14px;
  text-shadow: 0 0 0 transparent;
  display: block;
}

.main-mode.ready-to-post .sw .helpme{
  display: none;
}

.sw [class*="icon_"]:before{
  margin-right: 10px;
}

.help-mode .sw .refresh{
  visibility: hidden;
}

.help-mode .sw{
  width: 140px;
  transition:         0ms ease-in-out;
  -moz-transition:    0ms ease-in-out;
  -webkit-transition: 0ms ease-in-out;
border-bottom-left-radius: 16px;
}


label { 
  position: absolute;
  right: 30px;
  top:10px;
  width: 100px;
  height: 50px;
}

input { position:absolute; left:-9999px }


.slider-v1 {
  position: absolute;
  display: block;
  width: 5.5em; 
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(255,255,255,0));
  background: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(255,255,255,0));
  box-shadow:0 0.07em 0.1em -0.1em rgba(0,0,0,0.4) inset, 0 0.05em 0.08em -0.01em rgba(255,255,255,0.7);
}

.slider_before {
  position: absolute; 
  content:'';
  width: 2em; 
  height: 2em;
  top: 0.5em; 
  left: 0.5em;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%,#eee);
  background: -webkit-linear-gradient(#f5f5f5 10%,#eee);
  box-shadow:0 0.1em 0.15em -0.05em rgba(255,255,255,0.9) inset, 0 0.5em 0.3em -0.1em rgba(0,0,0,0.25);
}

.slider_l1, 
.slider_l2{
  position: absolute; 
  content:'';
  width: 1em; 
  height: 1em;
  text-shadow: 0 0 0 transparent;
  transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
}

.slider_l1{
  font-size:3.2em;
  line-height: 30px;
  vertical-align: middle;
  left:-42px;
  color: rgba(40,40,40,1);
}

.slider_l2{
  font-size:1.4em;
  line-height: 30px;
  vertical-align: middle;
  left:64px;
  color: rgba(200,200,200,1);
}

input:checked + .slider-v1 .slider_l1{
  color: rgba(200,200,200,1);
}
input:checked + .slider-v1 .slider_l2 {
  color: rgba(40,40,40,1);
}

input:checked + .slider-v1 .slider_before {
  left: 3em;
}

input:focus + .slider-v1,
input:active + .slider-v1 {
  background-color: rgba(0,0,0,0.12);
}







