.webdoc_expression_wrapper{
  overflow: hidden;
  font-family:Arial, Sans serif;
}



h1{


margin: 0;
margin-top: 2px;
  padding: 0.9em;

  position: relative;



}

.desc{
  padding: 0.3em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

}



.media{
  height: 100px;
  margin-bottom: 2px;
  padding: 0.9em;
  position: relative;
}

.media_core{
  height: 100%;
  width: 100%;

z-index: 100;
position: relative;
}




/*=======================  THEME 1  =========================*/

.desc.t1{
  background-image: -webkit-radial-gradient(center, circle cover, transparent, rgba(12,22,35,0) 26%, rgba(14,24,37,0.1) 40%, rgba(24,32,45,0.5) 100%), url(../images/grunge.png);
  background-image:    -moz-radial-gradient(center, circle cover, transparent, rgba(12,22,35,0) 26%, rgba(14,24,37,0.1) 40%, rgba(24,32,45,0.5) 100%), url(../images/grunge.png);
  background-image:     -ms-radial-gradient(center, circle cover, transparent, rgba(12,22,35,0) 26%, rgba(14,24,37,0.1) 40%, rgba(24,32,45,0.5) 100%), url(../images/grunge.png);
  background-image:      -o-radial-gradient(center, circle cover, transparent, rgba(12,22,35,0) 26%, rgba(14,24,37,0.1) 40%, rgba(24,32,45,0.5) 100%), url(../images/grunge.png);
  background-image:         radial-gradient(circle at center,     transparent, rgba(12,22,35,0) 26%, rgba(14,24,37,0.1) 40%, rgba(24,32,45,0.5) 100%), url(../images/grunge.png);
}

.desc.t1 .media,
.desc.t1 h1{
  background: rgba(255,255,255,0.3);
  box-shadow: 0 0 0.6em 0 rgba(0,0,0,0.1);
}


.desc.t1 h1{
  color:rgba(0,0,0,1);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-family:"Impact", Charcoal, Arial Black, Gadget, Sans serif;
  text-transform: uppercase;
  font-size:120%;
  line-height: 1;
}

.desc.t1 .media_core{
  background-image: url(../images/grunge.png);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5) inset;
}

.desc.t1::before{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  z-index: 11;
  content: '';
  background-size: cover;
  background-image: url(../images/sharpen1.png);
  opacity: 0.05;
  pointer-events: none;
}

/*=======================  THEME 2  =========================*/

.desc.t2{

}




.desc.t2 .media,
.desc.t2 h1{
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.2);
}


.desc.t2 h1{
  font-size:250%;
  line-height: 0.88;
  text-transform: uppercase;
  color:rgba(0, 163, 255, 1);
  text-shadow: 0 1px 5px rgba(0,0,0,0.7), -1px -1px 1px rgba(255,255,255,0.2), 0px 0px 3px rgba(255,255,255,0.8);
  font-family: 'Nosifer', cursive;
}

.desc.t2 .media_core{
  background-position: 50% 50%, 30% 60%;
  background-size: 100% 100%, 50% auto;
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(240,240,240,0.4) 26%, rgba(200,200,200,0.6) 50%, rgba(190,190,190,0.8) 90%), url(../images/splash1.png);
  background-image:    -moz-radial-gradient(center, ellipse cover, rgba(240,240,240,0.4) 26%, rgba(200,200,200,0.6) 50%, rgba(190,190,190,0.8) 90%), url(../images/splash1.png);
  background-image:     -ms-radial-gradient(center, ellipse cover, rgba(240,240,240,0.4) 26%, rgba(200,200,200,0.6) 50%, rgba(190,190,190,0.8) 90%), url(../images/splash1.png);
  background-image:      -o-radial-gradient(center, ellipse cover, rgba(240,240,240,0.4) 26%, rgba(200,200,200,0.6) 50%, rgba(190,190,190,0.8) 90%), url(../images/splash1.png);
  background-image:         radial-gradient(ellipse at center,     rgba(240,240,240,0.4) 26%, rgba(200,200,200,0.6) 50%, rgba(190,190,190,0.8) 90%), url(../images/splash1.png);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5) inset;
}



.desc.t2 span{
  line-height: 0.7;
}

.desc.t2 span b{
  position: relative;
  vertical-align: top;
}

.desc.t2 span:nth-child(8n-7) b:nth-child(8n-7) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-6) b:nth-child(8n-7) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-5) b:nth-child(8n-7) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-4) b:nth-child(8n-7) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-7) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-7) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-7) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }

.desc.t2 span:nth-child(8n-6) b:nth-child(8n-6) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-5) b:nth-child(8n-6) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-4) b:nth-child(8n-6) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-6) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-6) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-6) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-7) b:nth-child(8n-6) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }

.desc.t2 span:nth-child(8n-5) b:nth-child(8n-5) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-4) b:nth-child(8n-5) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-5) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-5) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-5) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-7) b:nth-child(8n-5) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-6) b:nth-child(8n-5) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }

.desc.t2 span:nth-child(8n-4) b:nth-child(8n-4) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-4) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-4) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-4) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-7) b:nth-child(8n-4) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-6) b:nth-child(8n-4) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-5) b:nth-child(8n-4) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }

.desc.t2 span:nth-child(8n-4) b:nth-child(8n-3) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-3) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-3) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-3) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-7) b:nth-child(8n-3) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-6) b:nth-child(8n-3) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-5) b:nth-child(8n-3) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }

.desc.t2 span:nth-child(8n-4) b:nth-child(8n-2) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-2) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-2) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-2) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-7) b:nth-child(8n-2) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-6) b:nth-child(8n-2) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-5) b:nth-child(8n-4) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }

.desc.t2 span:nth-child(8n-4) b:nth-child(8n-1) {color:rgba(90,180,30,1)  ;z-index: 1;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-3) b:nth-child(8n-1) {color:rgba(80,195,255,1) ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-2) b:nth-child(8n-1) {color:rgba(20,80,220,1)  ;z-index: 4;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-1) b:nth-child(8n-1) {color:rgba(255,120,180,1);z-index: 7;line-height: 0.8;  }
.desc.t2 span:nth-child(8n-7) b:nth-child(8n-1) {color:rgba(220,0,20,1)   ;z-index: 3;line-height: 0.7;  }
.desc.t2 span:nth-child(8n-6) b:nth-child(8n-1) {color:rgba(255,70,0,1)   ;z-index: 7;line-height: 0.6;  }
.desc.t2 span:nth-child(8n-5) b:nth-child(8n-1) {color:rgba(255,190,0,1)  ;z-index: 2;line-height: 0.7;  }


.desc.t2::after{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: '';
  background-position: 50% 50%, 10% 30%, 203% 69%, 200% 0;
  background-size: 100% 100%, 40% auto, 100% auto, 120% auto;
  background-image: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,0.1) 26%, rgba(255,255,255,0.04) 50%, rgba(255,255,255,0) 90%), url(../images/splash1.png), url(../images/splash1.png), url(../images/splash1.png);
  background-image:    -moz-radial-gradient(center, circle cover, rgba(255,255,255,0.1) 26%, rgba(255,255,255,0.04) 50%, rgba(255,255,255,0) 90%), url(../images/splash1.png), url(../images/splash1.png), url(../images/splash1.png);
  background-image:     -ms-radial-gradient(center, circle cover, rgba(255,255,255,0.1) 26%, rgba(255,255,255,0.04) 50%, rgba(255,255,255,0) 90%), url(../images/splash1.png), url(../images/splash1.png), url(../images/splash1.png);
  background-image:      -o-radial-gradient(center, circle cover, rgba(255,255,255,0.1) 26%, rgba(255,255,255,0.04) 50%, rgba(255,255,255,0) 90%), url(../images/splash1.png), url(../images/splash1.png), url(../images/splash1.png);
  background-image:         radial-gradient(circle at center,     rgba(255,255,255,0.1) 26%, rgba(255,255,255,0.04) 50%, rgba(255,255,255,0) 90%), url(../images/splash1.png), url(../images/splash1.png), url(../images/splash1.png);

  /*background-image: url(../images/splash1.png), url(../images/splash2.png);*/
  opacity: 1;
  pointer-events: none;
}


/*=======================  THEME 2  =========================*/

.desc.t3{
  background: url(../images/grunge.png);
}


.desc.t3 .media,
.desc.t3 h1{
  background: rgba(255,255,255,1);
  box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.2);
}

.desc.t3 .media::before,
.desc.t3 h1::before{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  z-index: 11;
  content: '';
  background-size:100%, 50%;

  background-image: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,0) 26%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.8) 90%), url(../images/gr.png);
  background-image:    -moz-radial-gradient(center, circle cover, rgba(255,255,255,0) 26%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.8) 90%), url(../images/gr.png);
  background-image:     -ms-radial-gradient(center, circle cover, rgba(255,255,255,0) 26%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.8) 90%), url(../images/gr.png);
  background-image:      -o-radial-gradient(center, circle cover, rgba(255,255,255,0) 26%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.8) 90%), url(../images/gr.png);
  background-image:         radial-gradient(circle at center,     rgba(255,255,255,0) 26%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.8) 90%), url(../images/gr.png);


  opacity: 1;
  pointer-events: none;
}

.desc.t3 .media_core{
  background-position: 50% 50%, 50% 50%;
  background-size: 50% auto, 100% 100%;
  background-image: url(../images/gr.png),-webkit-radial-gradient(center, ellipse cover, rgba(28,150,186,0.1) 26%, rgba(28,150,186,0.2) 50%, rgba(28,150,186,0.3) 90%);
  background-image: url(../images/gr.png),   -moz-radial-gradient(center, ellipse cover, rgba(28,150,186,0.1) 26%, rgba(28,150,186,0.2) 50%, rgba(28,150,186,0.3) 90%);
  background-image: url(../images/gr.png),    -ms-radial-gradient(center, ellipse cover, rgba(28,150,186,0.1) 26%, rgba(28,150,186,0.2) 50%, rgba(28,150,186,0.3) 90%);
  background-image: url(../images/gr.png),     -o-radial-gradient(center, ellipse cover, rgba(28,150,186,0.1) 26%, rgba(28,150,186,0.2) 50%, rgba(28,150,186,0.3) 90%);
  background-image: url(../images/gr.png),        radial-gradient(ellipse at center,     rgba(28,150,186,0.1) 26%, rgba(28,150,186,0.2) 50%, rgba(28,150,186,0.3) 90%);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5) inset;
}


.desc.t3 h1{
  font-size:150%;
  line-height: 0.9;
  text-transform: uppercase;
  font-family: Arial Black, Gadget, sans-serif;
}

.desc.t3 span{
  line-height: 1;
  position: relative;
  top: -0.7rem;
}

.desc.t3 span b{
  position: relative;

}

.desc.t3 span:nth-child(8n-7) {color:rgba(238,43,123,1);}
.desc.t3 span:nth-child(8n-6) {color:rgba(28,150,186,1);}
.desc.t3 span:nth-child(8n-5) {color:rgba(101,41,123,1);}
.desc.t3 span:nth-child(8n-4) {color:rgba(114,191,68,1);}
.desc.t3 span:nth-child(8n-3) {color:rgba(36,63,28,1);}
.desc.t3 span:nth-child(8n-2) {color:rgba(237,32,37,1);}
.desc.t3 span:nth-child(8n-1) {color:rgba(247,145,30,1);}

/*.desc.t3 span:nth-child(10n-2) {color:rgba(0,0,0,1);}*/

.desc.t3 span:nth-child(8n-7) b:nth-child(8n-7) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-7) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-7) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-7) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-7) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-7) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-7) {top: 0.7rem;  }
r
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-6) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-6) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-6) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-6) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-6) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-6) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-7) b:nth-child(8n-6) {top: 0.7rem;  }
r
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-5) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-5) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-5) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-5) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-5) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-7) b:nth-child(8n-5) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-5) {top: 0.7rem;  }
r
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-4) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-4) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-4) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-4) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-7) b:nth-child(8n-4) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-4) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-4) {top: 0.7rem;  }
r
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-3) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-3) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-3) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-3) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-7) b:nth-child(8n-3) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-3) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-3) {top: 0.7rem;  }
r
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-2) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-2) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-2) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-2) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-7) b:nth-child(8n-2) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-2) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-2) {top: 0.7rem;  }
r
.desc.t3 span:nth-child(8n-4) b:nth-child(8n-1) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-3) b:nth-child(8n-1) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-2) b:nth-child(8n-1) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-1) b:nth-child(8n-1) {top: 0.8rem;  }
.desc.t3 span:nth-child(8n-7) b:nth-child(8n-1) {top: 0.7rem;  }
.desc.t3 span:nth-child(8n-6) b:nth-child(8n-1) {top: 0.6rem;  }
.desc.t3 span:nth-child(8n-5) b:nth-child(8n-1) {top: 0.7rem;  }



/*=======================  THEME 4  =========================*/

.desc.t4{

  font-size:130%;
  line-height: 0.9  ;

/*  padding: 0 1em;*/
text-transform: uppercase;
/*  background-image: url(../images/splash.png);*/
color:rgba(0, 163, 255, 1);


background-color: blue;
font-family: 'Press Start 2P', cursive;




}

.desc.t4 h1{
  padding: 0.6em;
/*  background:black;*/
}




.desc.t4 span{
  line-height: 1.6;


 /* border-bottom: 1px solid red;*/
}

.desc.t4 span b{
  position: relative;
  vertical-align: middle;
}

.desc.t4 span:nth-child(8n-7) {  background: red; box-shadow: -0.4em 0 0 0 red, 0.4em 0 0 0 red;   }

.desc.t4 span:nth-child(8n-7) b:nth-child(8n-7) {color:yellow;       }
.desc.t4 span:nth-child(8n-6) b:nth-child(8n-7) {color:rgb(0, 255, 0);     }
.desc.t4 span:nth-child(8n-5) b:nth-child(8n-7) {color:white;    }
.desc.t4 span:nth-child(8n-4) b:nth-child(8n-7) {color:black;      }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-7) {color:purple;    }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-7) {color:white;     }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-7) {color:lightblue; }



.desc.t4 span:nth-child(8n-6) b:nth-child(8n-6) {color:red;       }
.desc.t4 span:nth-child(8n-5) b:nth-child(8n-6) {color:rgb(0, 255, 0);     }
.desc.t4 span:nth-child(8n-4) b:nth-child(8n-6) {color:yellow;    }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-6) {color:blue;      }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-6) {color:purple;    }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-6) {color:white;     }
.desc.t4 span:nth-child(8n-7) b:nth-child(8n-6) {color:lightblue; }

.desc.t4 span:nth-child(8n-5) {  background: black; box-shadow: -0.4em 0 0 0 black, 0.4em 0 0 0 black;   }

.desc.t4 span:nth-child(8n-5) b:nth-child(8n-5) {color:red;        }
.desc.t4 span:nth-child(8n-4) b:nth-child(8n-5) {color:rgb(0, 255, 0);      }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-5) {color:yellow;     }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-5) {color:blue;       }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-5) {color:purple;     }
.desc.t4 span:nth-child(8n-7) b:nth-child(8n-5) {color:white;      }
.desc.t4 span:nth-child(8n-6) b:nth-child(8n-5) {color:lightblue;  }

.desc.t4 span:nth-child(8n-4) b:nth-child(8n-4) {color:red;        }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-4) {color:rgb(0, 255, 0);      }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-4) {color:yellow;     }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-4) {color:black;       }
.desc.t4 span:nth-child(8n-7) b:nth-child(8n-4) {color:purple;     }
.desc.t4 span:nth-child(8n-6) b:nth-child(8n-4) {color:white;      }
.desc.t4 span:nth-child(8n-5) b:nth-child(8n-4) {color:lightblue;  }

.desc.t4 span:nth-child(8n-3) {  background: yellow; box-shadow: -0.4em 0 0 0 yellow, 0.4em 0 0 0 yellow;   }

.desc.t4 span:nth-child(8n-4) b:nth-child(8n-3) {color:red;        }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-3) {color:rgb(0, 255, 0);      }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-3) {color:black;     }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-3) {color:blue;       }
.desc.t4 span:nth-child(8n-7) b:nth-child(8n-3) {color:purple;     }
.desc.t4 span:nth-child(8n-6) b:nth-child(8n-3) {color:black;      }
.desc.t4 span:nth-child(8n-5) b:nth-child(8n-3) {color:lightblue;  }

.desc.t4 span:nth-child(8n-4) b:nth-child(8n-2) {color:red;        }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-2) {color:rgb(0, 255, 0);      }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-2) {color:yellow;     }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-2) {color:blue;       }
.desc.t4 span:nth-child(8n-7) b:nth-child(8n-2) {color:purple;     }
.desc.t4 span:nth-child(8n-6) b:nth-child(8n-2) {color:white;      }
.desc.t4 span:nth-child(8n-5) b:nth-child(8n-4) {color:lightblue;  }

.desc.t4 span:nth-child(8n-4) b:nth-child(8n-1) {color:red;        }
.desc.t4 span:nth-child(8n-3) b:nth-child(8n-1) {color:rgb(0, 255, 0);      }
.desc.t4 span:nth-child(8n-2) b:nth-child(8n-1) {color:yellow;     }
.desc.t4 span:nth-child(8n-1) b:nth-child(8n-1) {color:blue;       }
.desc.t4 span:nth-child(8n-7) b:nth-child(8n-1) {color:purple;     }
.desc.t4 span:nth-child(8n-6) b:nth-child(8n-1) {color:white;      }
.desc.t4 span:nth-child(8n-5) b:nth-child(8n-1) {color:lightblue;  }












/*=======================  THEME 4  =========================*/

.desc.t5{

  font-size:130%;
  line-height: 0.9  ;

text-transform: uppercase;

  font-family: 'Arial black';
font-family: 'Finger Paint', cursive;
   color: rgba(255,255,255,0.5);
   text-shadow: 0px 0px 2px rgba(0, 194, 255, 0.1),0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.9),0px 0px 30px rgba(0, 194, 255, 1);


}

.desc.t5 h1{
  padding: 0.6em;
/*  background:black;*/
}




.desc.t5 span{
  line-height: 1.6;


 /* border-bottom: 1px solid red;*/
}

.desc.t5 span b{
  position: relative;
  vertical-align: middle;
}



.desc.t5::after{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: '';
  background-color: rgba(0, 194, 255, 1);
  background-position: 50% 50%, 10% 30%, 203% 69%, 200% 0;
  background-size: 100% auto, auto auto, 200% auto, 20% auto;
  background-image: -webkit-radial-gradient(center, circle cover, rgba(50,220, 255, 0.3) 26%, rgba(0, 194, 255, 0.4) 50%, rgba(0, 194, 255, 1) 90%), url(../images/wet.jpg);
  background-image:    -moz-radial-gradient(center, circle cover, rgba(50,220, 255, 0.3) 26%, rgba(0, 194, 255, 0.4) 50%, rgba(0, 194, 255, 1) 90%), url(../images/wet.jpg);
  background-image:     -ms-radial-gradient(center, circle cover, rgba(50,220, 255, 0.3) 26%, rgba(0, 194, 255, 0.4) 50%, rgba(0, 194, 255, 1) 90%), url(../images/wet.jpg);
  background-image:      -o-radial-gradient(center, circle cover, rgba(50,220, 255, 0.3) 26%, rgba(0, 194, 255, 0.4) 50%, rgba(0, 194, 255, 1) 90%), url(../images/wet.jpg);
  background-image:         radial-gradient(circle at center,     rgba(50,220, 255, 0.3) 26%, rgba(0, 194, 255, 0.4) 50%, rgba(0, 194, 255, 1) 90%), url(../images/wet.jpg);

  /*background-image: url(../images/splash1.png), url(../images/splash2.png);*/
  opacity: 0.2;
  pointer-events: none;
}





textarea.title_container{
  height: 1em;
}

textarea.title_container, pre.title_container{
  display: block;
  width: 100%;
  min-height: inherit;
  overflow: hidden;
  box-shadow: none;
  resize: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  text-indent: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
  white-space: pre-wrap;
  outline: none;
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

textarea.title_container:focus {
  outline: none;
  box-shadow: 0 0 0 0 transparent;
}

textarea.title_container::-webkit-input-placeholder            {color: rgba(255,255,255,0.5);}
textarea.title_container::-moz-placeholder                     {color: rgba(255,255,255,0.5);}
textarea.title_container:-ms-input-placeholder                 {color: rgba(255,255,255,0.5);}
textarea.title_container:focus::-webkit-input-placeholder      {color: transparent;}
textarea.title_container:focus::-moz-placeholder               {color: transparent;}
textarea.title_container:focus:-ms-input-placeholder           {color: transparent;}
