
/*=======================  THEME 4  =========================*/

.desc.t4{
  background-color: blue;
}

.desc.t4 .media_core{
  background-image: url(../images/grunge.png);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5) inset;
  font-size: 14px;
}

.desc.t4 .text_container{
  font-size:130%;
  padding: 0.6em;
  line-height: 0.9  ;
  text-transform: uppercase;
  background-image: url(../images/splash.png);
  color:rgba(0, 163, 255, 1);
  font-family: 'Press Start 2P', cursive;
}

.desc.t4  .text_container span{
  line-height: 1.6;
}

.desc.t4 .text_container span b{
  position: relative;
  vertical-align: middle;
}




.desc.t4 .text_container span:nth-child(8n-7) {  background: red; box-shadow: -8px 0 0 0 red, 8px 0 0 0 red;   }

.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-7) {color:yellow;       }
.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-7) {color:rgb(0, 255, 0);     }
.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-7) {color:white;    }
.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-7) {color:black;      }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-7) {color:purple;    }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-7) {color:white;     }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-7) {color:lightblue; }

.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-6) {color:red;       }
.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-6) {color:rgb(0, 255, 0);     }
.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-6) {color:yellow;    }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-6) {color:blue;      }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-6) {color:purple;    }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-6) {color:white;     }
.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-6) {color:lightblue; }

.desc.t4 .text_container span:nth-child(8n-5) {  background: black; box-shadow: -8px 0 0 0 black, 8px 0 0 0 black;   }

.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-5) {color:red;        }
.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-5) {color:rgb(0, 255, 0);      }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-5) {color:yellow;     }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-5) {color:blue;       }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-5) {color:purple;     }
.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-5) {color:white;      }
.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-5) {color:lightblue;  }

.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-4) {color:red;        }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-4) {color:rgb(0, 255, 0);      }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-4) {color:yellow;     }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-4) {color:black;       }
.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-4) {color:purple;     }
.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-4) {color:white;      }
.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-4) {color:lightblue;  }

.desc.t4 .text_container span:nth-child(8n-3) {  background: yellow; box-shadow: -8px 0 0 0 yellow, 8px 0 0 0 yellow;   }

.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-3) {color:red;        }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-3) {color:rgb(0, 255, 0);      }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-3) {color:black;     }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-3) {color:blue;       }
.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-3) {color:purple;     }
.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-3) {color:black;      }
.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-3) {color:lightblue;  }

.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-2) {color:red;        }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-2) {color:rgb(0, 255, 0);      }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-2) {color:yellow;     }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-2) {color:blue;       }
.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-2) {color:purple;     }
.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-2) {color:white;      }
.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-4) {color:lightblue;  }

.desc.t4 .text_container span:nth-child(8n-4) b:nth-child(8n-1) {color:red;        }
.desc.t4 .text_container span:nth-child(8n-3) b:nth-child(8n-1) {color:rgb(0, 255, 0);      }
.desc.t4 .text_container span:nth-child(8n-2) b:nth-child(8n-1) {color:yellow;     }
.desc.t4 .text_container span:nth-child(8n-1) b:nth-child(8n-1) {color:blue;       }
.desc.t4 .text_container span:nth-child(8n-7) b:nth-child(8n-1) {color:purple;     }
.desc.t4 .text_container span:nth-child(8n-6) b:nth-child(8n-1) {color:white;      }
.desc.t4 .text_container span:nth-child(8n-5) b:nth-child(8n-1) {color:lightblue;  }




