.utPopupMenu {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  display: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition:    opacity 0.3s ease-in-out;
  -o-transition:      opacity 0.3s ease-in-out;
  transition:         opacity 0.3s ease-in-out;
  z-index: 500;
  font-size: 10px;
}

.utPopupMenu.utPopupMenu_show{
  /*bottom: 0;*/
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition:    opacity 0.3s ease-in-out;
  -o-transition:      opacity 0.3s ease-in-out;
  transition:         opacity 0.3s ease-in-out;
}


.utPopupMenu .utPopupMenu_items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.utPopupMenu .utPopupMenu_title {
/*  position: absolute;
  left: 0;
  top: 0;*/
  width: 100%;
  height: 5em;
  text-align: center;
  line-height: 7em;
  font-family: 'CasinoHandRegular', Arial, Helvetica, sans-serif;
  z-index: 5;
  color: rgba(0,0,0,0.5);
}

.utPopupMenu .utPopupMenu_title span {
  font-size: 3em;
}

.utPopupMenu .utPopupMenu_item {
  position: relative;
  width: 45%;
/*  height: 9.8em;*/
  margin: .5em;
  display:inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
  cursor: pointer;
  font-family: 'CasinoHandRegular';
  color: rgba(0,0,0,0.7);
  background: rgba(255,255,255,0.7);
/*  text-shadow: -1px -1px 1px rgba(0,0,0,0.4);*/
  box-shadow:  0px 2px 3px 1px rgba(0,0,0,0.1);

}

.utPopupMenu .utPopupMenu_item img{
  position: relative;
  width: 100%;
/*  border: 1px solid rgba(0,0,0,0.1);*/
}


.utPopupMenu .utPopupMenu_item span{
  /*line-height:6em;*/
/*  display: table-cell;*/
  vertical-align: middle;
  /*border-top: 1px solid rgba(0,0,0,0.1);*/
  font-size: 2em;
  text-align: center;
  display: inline-block;
  padding: 0.2em;
  width: 100%;

}


.utPopupMenu .utPopupMenu_item:hover {
  box-shadow:  0px 2px 3px 1px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.8);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
}

.utPopupMenu .utPopupMenu_item:active {
  box-shadow:  0px 2px 3px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition:    all 0.05s ease-in-out;
  -o-transition:      all 0.05s ease-in-out;
  transition:         all 0.05s ease-in-out;
}

.utPopupMenu .utPopupMenu_item.utPopupMenu_item_selected{
  box-shadow:  0px 2px 3px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;


}
